form {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-gap: 15px;
  padding: 25px;
  background: linear-gradient(to bottom, #ffffff 60%, #81c784);
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  margin: 50px auto;

  h2 {
    text-align: center;
    color: #388e3c;
    margin-bottom: 20px;
    font-weight: 500;
  }

  input {
    padding: 10px 14px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 14px;

    &:focus {
      border-color: #66bb6a;
      box-shadow: 0 0 5px rgba(102, 187, 106, 0.5);
      outline: none;
    }
  }

  button {
    cursor: pointer;
    background-color: #66bb6a;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-weight: 500;

    &:hover {
      background-color: #388e3c;
    }

    &:disabled {
      background-color: #bdbdbd;
      cursor: not-allowed;
    }
  }
}

.snackbar-success {
  color: #fff;
  background-color: #4CAF50;
}
